{
  "presets": [
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy", ["module-resolver", {
      "root": ["./"],
      "alias": {
        "scripts": "./app/scripts",
        "r": "./app/scripts/react",
        "rc": "./app/scripts/react/components",
        "test": "./test"
      }
    }]
  ]
}
