app/bower_components/
build
/secret
/rails
tags
*.swo
.sass-cache
node_modules/
*.swp
.DS_Store
npm-debug.log
*.apk
*.ipa
www
.tmp
*.bak
.idea
*tags
/tags
.publish
/jsconfig.json
/.jsbeautifyrc
/.vscode
/testPrerender.js
