$images-path: IMAGES_PATH;
$fonts-path: FONTS_PATH;
$root-component: ".mrch-ProductCard";

@import "lib/cleanslate";
@import "sass/global/variables";
@import "./styles/fonts/KioskPublicIcons";

@import "./styles/base/grid";
@import "./styles/partials/add-to-wishlist";
@import "./styles/partials/b-breadcrumbs";
@import "./styles/partials/b-btn";
@import "./styles/partials/b-characteristics";
@import "./styles/partials/b-item";
@import "./styles/partials/b-item-full";
@import "./styles/partials/b-item-list";
@import "./styles/partials/b-page";
@import "./styles/partials/b-status";
@import "./styles/components/ProductCardGallery";
@import "./styles/widget";