.add-to-wishlist
  margin-top: 10px
  letter-spacing: 0
  word-spacing: 0
  margin-left: 24px
  a
    cursor: pointer
    display: inline-block
    line-height: 20px
    .Icon--wishlist
      display: inline-block
      margin-right: 5px
      font-size: 20px
      width: 20px
      height: 20px
      line-height: 20px
      vertical-align: bottom