$bg: #e1e1e1
$fontSize: 14px
$color: white
$info: #8fa6ce
$error: #c00f19
$success: #37a048

.b-notice
  padding: 11px
  position: fixed
  right: 0
  bottom: 0
  left: 0
  background-color: $bg
  font-size: $fontSize
  text-align: center
  color: $color
  &_info
    background-color: $info
  &_error
    background-color: $error;
  &_success
    background-color: $success;
  a
    text-decoration: underline