$bubbleHeight: 50px
$bubbleSmallWidth: 50px
$bubbleBackground: rgba(black, 0.8)
$bubbleBackgroundHover: rgba(black, 0.7)
$bubbleZindex: 10
$bubbleTextColor: #fff
$bubbleCountSize: 30px
$bubbleCountTextColor: #fff
$bubbleCountBackground: #00aeff

.Bubble
  display: inline-block
  position: relative
  height: $bubbleHeight
  min-width: $bubbleSmallWidth
  margin: 0
  border-radius: $bubbleHeight / 2
  background-color: $bubbleBackground
  z-index: $bubbleZindex
  transition: background-color .2s ease
  letter-spacing: 0
  word-spacing: 0
  &:before
    content: ''
    position: absolute
    top: 50%
    font-family: "KioskPublicIcons"
    left: $bubbleSmallWidth / 4
    width: $bubbleSmallWidth / 2
    height: $bubbleSmallWidth / 2
    margin-top: $bubbleHeight / -4
    line-height: $bubbleHeight / 2
    color: #fff
  &:hover
    background-color: $bubbleBackgroundHover
  &-text
    display: inline-block
    padding-left: $bubbleSmallWidth
    padding-right: 20px
    line-height: $bubbleHeight
    color: $bubbleTextColor
    @include grid-media-query((lap, palm))
      display: none
  &-count
    position: absolute
    top: $bubbleCountSize / -2
    right: $bubbleCountSize / -2
    width: $bubbleCountSize
    height: $bubbleCountSize
    color: $bubbleCountTextColor
    background-color: $bubbleCountBackground
    text-align: center
    line-height: $bubbleCountSize
    border-radius: $bubbleCountSize / 2
    font-size: 14px
    font-weight: bold
  &--cart
    &:before
      background-image: url(#{$images-path}/cart_icon.svg)
  &--wishlist
    &:before
      content: "\e001"
      font-size: 25px
  &--cabinet
    &:before
      content: "\e002"
      font-size: 25px
  &--operator
    &:before
      content: "\e003"
      font-size: 25px
  &--design
    &:before
      content: "\e004"
      font-size: 25px

  @include grid-media-query((lap, palm))
    min-width: $bubbleSmallWidth