%footer.b-footer
  .b-item-list
    %div{data: { react-class: 'InstagramContainer' }}
  .b-footer__container
    .b-footer__content
      %div{data: {react-class: 'MenuBottomSample'}}

%div{data-react-class: 'Userbar', data-react-props: '{"hasDesign": true,  "designParamName": "design_open", "authUrl": "http://google.ru", "categoryPageUrl": "http://wanna-be.ru/categories/635-braslety", "productPageUrl": "http://wanna-be.ru/products/33302-kulon-merkaba-s-tsirkonami-serebryanyy-r", "pageType": "categories", "designMode": "auto", "operatorUrl": "http://google.ru/"}'}

/ #instagram{data-react-class: 'InstagramFeed_Controllable_v2', data-react-props: '{"clientId": "295b9ad8c3304e5f8cf9a27da8014082", "userId": 30090607, "isVisible": false}'}

%div{data: { react-class: "Clientbar" }}

%div{data-react-class: 'ScrollToTop', data-react-props: '{ "element": "window", "threshold": 100 }'}

/ %div{data-react-class: 'BasketButton', data-react-props: '{"cartUrl": "cart.html", "cartText": "Корзина", "itemsCount": 1}'}

/ %div{data-react-class: 'BasketPopup', data-react-props: '{"cartUrl": "cart.html", "cartClearUrl": "cart.html", "items": []}'}

.b-theme-switch
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "b-page", data-logourl: "../images/wannabe/logo.png"} Basic
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "b-page b-page_theme-dark", data-logourl: "../images/wannabe/logo.png"} Basic dark
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "b-page b-page_theme-wannabe", data-logourl: "../images/wannabe/logo.svg"} Wannabe
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "b-page b-page_theme-sugar", data-logourl: "../images/sugar/logo.png"} Sugar
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "b-page b-page_theme-cc", data-logourl: "../images/cc/logo.png"} Citycicle
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "b-page b-page_theme-etc", data-logourl: "../images/etc/logo.png"} etc

/ .design-settings
/   .design-settings__header
/     Управление дизайном
/     .design-settings__close
/   .design-settings__body
/     .design-settings__scroll
/       .design-settings__group
/         .design-settings__group-header Стили
/         .design-settings__group-content
/           .design-settings__option
/             .design-settings__option-title Цвет страницы
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--circle.radiobtn--light>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgcolor', checked: 'true'}
/                 %span.radiobtn__ind{style: 'background-color: #ffffff;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #000000;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #e74c3c;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #6c7a89;'}
/               %label.radiobtn.radiobtn--circle
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #f4d3c4;'}
/               %label.radiobtn.radiobtn--circle.radiobtn--custom
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-pagecolor', checked: 'true'}
/                 %span.radiobtn__ind{style: 'background-color: #cfe6ff;'}
/           .design-settings__option
/             .design-settings__option-title Фон страницы
/             -# .design-settings__option-content
/             -#   %label.radiobtn.radiobtn--circle>
/             -#     %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgimage', checked: 'true'}
/             -#     %span.radiobtn__ind{style: 'background-color: #000;'}
/             -#   %label.radiobtn.radiobtn--circle
/             -#     %input.radiobtn__input{type: 'radio', name: 'designoption-pagebgimage'}
/             -#     %span.radiobtn__ind{style: 'background-color: #53575a;'}
/             .design-settings__option-content
/               .design-settings__attach.design-settings__attach--image
/                 .design-settings__attach-box
/                   %i.design-settings__attach-delete
/                   %img.design-settings__attach-img{src: 'http://eandys.ru/image.php?di=PZUV', alt: ''}
/                 %label.select-file.select-file--icon.select-file--icon-pencil{for: 'designoption-pagebgimage', title: 'Выбрать файл'}
/                   %input#designoption-pagebgimage.select-file__input{type: 'file'}
/           .design-settings__option
/             .design-settings__option-title Цвет ленты
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--circle.radiobtn--light>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-feedbgcolor', checked: 'true'}
/                 %span.radiobtn__ind{style: 'background-color: #ffffff;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-feedbgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #000000;'}
/               %label.radiobtn.radiobtn--circle
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-feedbgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #2ac67e;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-feedbgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #e74c3c;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-feedbgcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #c6c9cc;'}
/           .design-settings__option
/             .design-settings__option-title Прозрачность ленты
/             .design-settings__option-content
/               .noUi-value 0%
/               .noUi-target.noUi-ltr.noUi-horizontal.noUi-background
/                 .noUi-base
/                   .noUi-origin.noUi-stacking{style: 'left: 100%;'}
/                     .noUi-handle.noUi-handle-lower
/           .design-settings__option
/             .design-settings__option-title Цвет текста
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--circle.radiobtn--light>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #ffffff;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontcolor', checked: 'true'}
/                 %span.radiobtn__ind{style: 'background-color: #000000;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #c6c9cc;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #6c7a89;'}
/               %label.radiobtn.radiobtn--circle
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #38434e;'}
/               %label.radiobtn.radiobtn--circle.radiobtn--custom
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-textcolor'}
/                 %span.radiobtn__ind{style: 'background-color: #cfe6ff;'}
/           .design-settings__option
/             .design-settings__option-title Цвет активных элементов
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-activecolor', checked: 'true'}
/                 %span.radiobtn__ind{style: 'background-color: #264c35;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-activecolor'}
/                 %span.radiobtn__ind{style: 'background-color: #c3a96c;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-activecolor'}
/                 %span.radiobtn__ind{style: 'background-color: #fa3c58;'}
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-activecolor'}
/                 %span.radiobtn__ind{style: 'background-color: #772d3c;'}
/               %label.radiobtn.radiobtn--circle
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-activecolor'}
/                 %span.radiobtn__ind{style: 'background-color: #1a0f17;'}
/               %label.radiobtn.radiobtn--circle.radiobtn--custom
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-activecolor'}
/                 %span.radiobtn__ind{style: 'background-color: #cfe6ff;'}
/           .design-settings__option
/             .design-settings__option-title Шрифт
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--font.radiobtn--font-helvetica>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontfamily', checked: 'true'}
/                   %span.radiobtn__ind Aa
/               %label.radiobtn.radiobtn--font.radiobtn--font-ptserif>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontfamily'}
/                   %span.radiobtn__ind Aa
/               %label.radiobtn.radiobtn--font.radiobtn--font-ptsans>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontfamily'}
/                   %span.radiobtn__ind Aa
/               %label.radiobtn.radiobtn--font.radiobtn--font-verdana>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontfamily'}
/                   %span.radiobtn__ind Aa
/               %label.radiobtn.radiobtn--font.radiobtn--font-courier
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontfamily'}
/                   %span.radiobtn__ind Aa
/           .design-settings__option
/             .design-settings__option-title Размер шрифта
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--font.radiobtn--fontsize-sm>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontsize'}
/                   %span.radiobtn__ind Aa
/               %label.radiobtn.radiobtn--font.radiobtn--fontsize-md>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontsize', checked: 'true'}
/                   %span.radiobtn__ind Aa
/               %label.radiobtn.radiobtn--font.radiobtn--fontsize-lg
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-fontsize'}
/                   %span.radiobtn__ind Aa
/       .design-settings__group
/         .design-settings__group-header Каталог
/         .design-settings__group-content
/           .design-settings__option
/             .design-settings__option-title Товаров в ряд
/             .design-settings__option-content
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-columns', checked: 'true'}
/                   %span.radiobtn__ind 1
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-columns'}
/                   %span.radiobtn__ind 2
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-columns'}
/                   %span.radiobtn__ind 3
/               %label.radiobtn.radiobtn--circle>
/                 %input.radiobtn__input{type: 'radio', name: 'designoption-columns'}
/                   %span.radiobtn__ind 4
/       .design-settings__group
/         .design-settings__group-header Странца товара
/         .design-settings__group-content
/           .design-settings__option.design-settings__option--row
/             .design-settings__option-title Фото сверху?
/             .design-settings__option-content
/               %label.switcher
/                 %input.switcher__input{type: 'checkbox', checked: 'true'}
/                 %span.switcher__box
/                   %span.switcher__knob
/       .design-settings__group
/         .design-settings__group-header Логотип
/         .design-settings__group-content
/           .design-settings__option
/             .design-settings__option-content
/               .design-settings__attach
/                 .design-settings__attach-box
/                   %i.design-settings__attach-delete
/                   %img.design-settings__attach-img{src: '../images/wannabe/logo.png', alt: ''}
/                 / До загрузки
/                 / %label.select-file{for: 'designoption-logo'} Выбрать файл...
/                 /   %input#designoption-logo.select-file__input{type: 'file'}
/                 / end До загрузки
/                 / Когда загрузили
/                 %label.select-file{for: 'designoption-logo'} Выбрать другой файл...
/                   %input#designoption-logo.select-file__input{type: 'file'}
/                 / end Когда загрузили
/   .design-settings__footer
/     %button.design-settings__save-button.__disabled Изменений нет
/     / %button.design-settings__save-button Сохранить
/ .color-picker-popup{style: 'top: 146px; left: 135px;'}
/   %i.color-picker-popup__arrow
/   :plain
/     <div class=" cp" data-reactid=".c.1"><div class="cp-saturation-spectrum" style="height:140px;width:140px;background-color:rgb(255, 0, 0);" data-reactid=".c.1.0"><div class="cp-saturation-white" data-reactid=".c.1.0.0"><div class="cp-saturation-black" data-reactid=".c.1.0.0.0"></div></div><div class="cp-saturation-drag" style="width:7px;height:7px;top:137px;left:-3px;display:block;" data-reactid=".c.1.0.1"><div class="inner" data-reactid=".c.1.0.1.0"></div></div></div><div class="cp-hue-spectrum" style="margin-left:10px;height:140px;width:6px;" data-reactid=".c.1.1"><div class="cp-hue-drag" style="height:3px;top:-2px;display:block;" data-reactid=".c.1.1.0"><div class="inner" data-reactid=".c.1.1.0.0"></div></div></div></div>
