#{$root-component}
  .b-item-list
    margin: 0 auto!important
    padding: 0 35px 40px!important
    max-width: 980px!important
    &_additional
      .b-item-list
        &__title
          font-size: 2em!important
          font-weight: normal!important
          margin-bottom: 1em!important
    &__title
      font-size: 3.313em!important
      text-align: center!important
      padding-top: 42px!important
      margin: 0 0 46px!important
    &__content
      @extend %grid
      .b-text
        font-size: 14px!important
    &__item
      @extend %grid__item
      @extend %three-twelfths
      @extend %lap--one-half
      @extend %palm--one-half
      .b-item
        margin: 15px 0!important
        transition: color .1s ease!important
        &__pic
          transition: opacity .1s ease!important
          backface-visibility: hidden!important
        &:hover
          .b-item__pic
            opacity: .9!important

  // &_four-in-row
  //   .b-item-list
  //     &__item
  //       @extend %three-twelfths
  //       @extend %lap--one-half
  //       @extend %palm--one-half

  // &__paginator
  //   @extend %grid__item
  //   @extend %one-whole
  //   padding-top: 40px

  // p
  //   margin-top: 0.2em
  //   margin-bottom: 0.2em







  //     return (
  //       <section className="b-item-list b-item-list_additional">
  //         <h1 className="b-item-list__title">
  //           {t('vendor.similar_product.title')}
  //         </h1>
  //         <div className="b-item-list__content">
  //           {products.map(this.renderProduct)}
  //         </div>
  //       </section>
  //     );