<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      .b-page__content__inner.b-page__content__inner_navbar
        +include 'app/haml/shared/_navbar.haml'

      .b-page__content__inner.b-page__content__inner_content
        .b-text.b-text_center
          %h3 &laquo;Анклет с Кистью с цирконами серебряный&raquo; сейчас не продается
          %p
            Категория:
            %a{href: '#', title: 'Кольца'} Кольца
          %a.b-btn{href: '', title: 'Посмотреть другие товары'} Посмотреть другие товары
        .b-search-box
          .b-search-box__content
            .b-search(ks-search)
              %form
                %input.b-search__field{type: 'text', placeholder: 'Поиск'}
                %button.b-search__submit{type: 'submit'}
        %section.b-item-list.b-item-list_additional
          %h3.b-item-list__title Схожие товары
          .b-item-list__content
            - for i in [1..3]
              .b-item-list__item
                %a.b-item{href: 'product.html'}
                  .b-item__pic-wrap
                    %img.b-item__pic{src: '../images/product-square.jpg', alt:'paste product name here'}
                    .b-item__status
                      -if i == 1
                        %span.b-status.b-status_sold Распродано
                      -if i == 2
                        %span.b-status.b-status_preorder Под заказ
                      -if i == 3
                        %span.b-status.b-status_sale Sale -24%
                  .b-item__info
                    %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .b-item__price 8 900 руб.

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
