<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      %div{data: {react-class: 'TopBanner', react-props: '{"content": "Мы открылись!", "url": ""}'}}

      .b-page__content__inner.b-page__content__inner_navbar
        +include 'app/haml/shared/_navbar.haml'

      .b-page__content__inner.b-page__content__inner_content
        %section.b-item-list.b-item-list_catalog
          .b-item-list__filter
            %form{method: 'POST'}
              / %div{data: {react-class: 'CatalogFilter', react-props: ''}}

          .b-item-list__description
            %p Открытые, или, как их еще называют, разомкнутые кольца отличаются от обычных тем, что их размер можно регулировать, чуть сжав или раздвинув. Изменения - от пары миллиметров, для более удобной посадки, до 1-2 размеров.
            %p Это делает открытые кольца хорошим выбором для подарка: вы не ошибетесь, даже если не знаете точного размера. Кроме того, их можно носить на разных фалангах пальцев и удачно сочетать между собой.
          .b-item-list__content
            / %div{data: {react-class: 'ProductBlock'}}
            %div{data: {react-class: 'ProductBlock', react-props: '{"product":{"id":6,"title":"product6","is_sale":false,"has_ordering_goods":true,"is_label_new":false,"is_run_out":false,"is_sold":false,"index_image":{"url":"http://assets.vagrant.dev:3000/images/fallback/product-none.png","width":null,"height":null},"second_image":null,"public_url":"http://saharok.vagrant.dev:3000/products/6-product333","short_details":"","goods":[{"id":6,"type":"Product","global_id":"Z2lkOi8vbWVyY2hhbnRseS9Qcm9kdWN0LzY","is_sale":false,"price":{"cents":100,"currency_iso_code":"RUB"},"actual_price":{"cents":100,"currency_iso_code":"RUB"}}]},"showCartButton":true,"formAuthenticity":{"token":"V8emn44K0BMLNe/16WvTTQV/GaJjxF9cAETtzGhIQZY=","field":"authenticity_token"}}'}}
            - for i in [1..7]
              .b-item-list__item
                %a.b-item{href: 'product.html'}
                  .b-item__pic-wrap
                    %img.b-item__pic{src: '../images/product-square.jpg', alt:'paste product name here'}
                    .b-item__status
                      -if i == 1
                        %span.b-status.b-status_sold Распродано
                      -if i == 2
                        %span.b-status.b-status_preorder Под заказ
                      -if i == 3
                        %span.b-status.b-status_sale Sale -24%
                  .b-item__info
                    %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .b-item__price 8 900 руб.

            .b-item-list__paginator
              .pagination
                %li.prev
                  %a{href: '#'}
                    &lsaquo;
                - for i in [1..6]
                  - if i == 1
                    %li.page.active
                      %a{href: '#'}
                        = i
                  - else if i == 4
                    %li.page.disabled.gap
                      %a{href: '#'} ...
                  - else
                    %li.page
                      %a{href: '#'}
                        = i
                %li.next
                  %a{href: '#'}
                    &rsaquo;

      .b-page__content__inner.b-page__content__inner_footer
        +include 'app/haml/shared/_footer.haml'

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
