<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      %div{data: {react-class: 'TopBanner', react-props: '{"content": "Мы открылись!"}'}}

      .b-page__content__inner.b-page__content__inner_navbar
        +include 'app/haml/shared/_navbar.haml'

      .b-page__content__inner.b-page__content__inner_content
        %section.b-item-list.b-item-list_catalog
          .b-item-list__filter
            %form{method: 'POST'}
              %div{data: {react-class: 'CatalogFilter', react-props: '{"options":[{"title":"Ценовой диапазон","type":"range","paramName":"price","units":"руб.","from":5000,"to":902530,"valueFrom":null,"valueTo":null,"step":10000}, {"title": "Показывать", "type": "checkbox", "paramName": "type", "items": [{"name": "Все", "paramValue": "all", "checked": true }, { "name": "Гибридные", "paramValue": "hybrid", "checked": false }]},{"title":"Доступность","type":"radio", "default": "any", "paramName":"availability","value":"any","items":[{"name":"Все","paramValue":"any"},{"name":"В наличии","paramValue":"in-stock"},{"name":"Под заказ","paramValue":"on-request"},{"name":"Распродажа","paramValue":"sale"}]},{"title":"Ценовой диапазон","type":"range","paramName":"price","units":"руб.","from":6,"to":763680,"valueFrom":null,"valueTo":null,"step":10000},{"title":"Женская модель","type":"radio","paramName":"attr_207","value":"any","items":[{"name":"Без разницы","paramValue":"any"},{"name":"Да","paramValue":"true"},{"name":"Нет","paramValue":"false"}]}],"selectedOptions":[],"params":{"category_id": 5}}'}}

          .b-item-list__content
            / %div{data: {react-class: 'ProductBlock'}}
            - for i in [1..7]
              .b-item-list__item
                %a.b-item{href: 'product.html'}
                  .b-item__pic-wrap
                    %img.b-item__pic{src: '../images/product-square.jpg', alt:'paste product name here'}
                    .b-item__status
                      -if i == 1
                        %span.b-status.b-status_sold Распродано
                      -if i == 2
                        %span.b-status.b-status_preorder Под заказ
                      -if i == 3
                        %span.b-status.b-status_sale Sale -24%
                  .b-item__info
                    %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .b-item__price 8 900 руб.

            .b-item-list__paginator
              .pagination
                %li.prev
                  %a{href: '#'}
                    &lsaquo;
                - for i in [1..6]
                  - if i == 1
                    %li.page.active
                      %a{href: '#'}
                        = i
                  - else if i == 4
                    %li.page.disabled.gap
                      %a{href: '#'} ...
                  - else
                    %li.page
                      %a{href: '#'}
                        = i
                %li.next
                  %a{href: '#'}
                    &rsaquo;

      .b-page__content__inner.b-page__content__inner_footer
        +include 'app/haml/shared/_footer.haml'

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}