<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      .b-page__content__inner.b-page__content__inner_navbar
        +include 'app/haml/shared/_navbar.haml'

      .b-page__content__inner.b-page__content__inner_content
        %div{data: { react-class: 'OrderContainer', react-props: '{"deliveryTypeId":110,"paymentTypeId":105,"formAuthenticity":{"token":"REFKvsEf/pWfNDoRM3LPVHNgTIY5d32YR4P/xACndXk=","field":"authenticity_token"},"cart":{"totalCount":1,"totalPrice":{"cents":1000000,"currency_iso_code":"RUB"}},"deliveryTypes":[{"id":110,"title":"Москва – доставка курьером (2-3 дня)","description":"","price":{"cents":23000,"currency_iso_code":"RUB"},"fields":["name","phone","email","city_title","address","comment"],"requiredFields":["name","phone","email","city_title","address","comment"],"availablePayments":[105,69],"freeDeliveryThreshold":{"cents":1000000,"currency_iso_code":"RUB"},"reservedFieldValues":{"city_title":"Москва"}}],"paymentTypes":[{"id":105,"title":"Оплата банковской картой, через терминал или салон связи","description":"Безопасная оплата любым удобным способом","icon_url":"/images/payment_icons/order_payment_w1.png","show_icon":false},{"id":69,"title":"Наличные при получении","description":"","icon_url":"/images/payment_icons/order_payment_w1.png","show_icon":false}],"fields":[{"name":"name","type":"string","value":null,"title":"Полное имя","placeholder":"Имя","errorMessage":""},{"name":"phone","type":"string","value":null,"title":"Телефон","placeholder":"Например, +7 913 123 32 10","errorMessage":""},{"name":"email","type":"string","value":null,"title":"Email","placeholder":"Email","errorMessage":""},{"name":"city_title","type":"string","value":"Москва","title":"Город доставки","placeholder":"Москва","errorMessage":""},{"name":"address","type":"string","value":null,"title":"Адрес доставки","placeholder":"Например, Академика Вавилова 12-10","errorMessage":""},{"name":"comment","type":"textarea","value":null,"title":"Оставьте свой телефон и имя, наш сотрудник свяжется с вами для уточнения информации о заказе","placeholder":"О чем нам нужно знать","errorMessage":""}],"coupon":{"show":true,"value":""},"publicOffer":{"show":false},"errorMessage":"","submitOrderUrl":"/orders"}'}}

      .b-page__content__inner.b-page__content__inner_footer
        +include 'app/haml/shared/_footer.haml'

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
