<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_cols-4
    %div{data: {'react-class':"ContentPageSample"}}

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
    %script{:defer => "defer", :type => "text/javascript"}