<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_cols-4
    %div{data: {'react-class':"ErrorPage", react-props:'{"subject": "404 - Страница не найдена", "content":"Ресурс, к которому вы обратились, не был найден"}'}

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
    %script{:defer => "defer", :type => "text/javascript"}