<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_cols-4
    %meta{content: "U9pqrQGs/+7Ht9qSAjOLpsN18IL6EJyPNSfJu45oLT4=", name: "csrf-token"}
    .b-page__content
      .b-page__content__inner.b-page__content__inner_navbar
        +include 'app/haml/react/_navbar1.haml'

      .b-page__content__inner.b-page__content__inner_footer
        +include 'app/haml/shared/_footer.haml'

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
