<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body
    #product-card
    %script{src: '../scripts/snippet.js'}
    %script
      mrch.showProduct(666, 4273, '#product-card');