<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_cols-4
    .b-item-list__paginator
      %div{data: {'react-class':"Pagination", react-props:'{"current_page":1, "count_per_page":6, "total_count":42}'}
    .b-item-list__paginator
      %div{data: {'react-class':"Pagination", react-props:'{"current_page":2, "count_per_page":6, "total_count":42}'}
    .b-item-list__paginator
      %div{data: {'react-class':"Pagination", react-props:'{"current_page":7, "count_per_page":6, "total_count":42}'}

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
    %script{:defer => "defer", :type => "text/javascript"}
