<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_topbanner-enabled.b-page_layout-slider
    .b-page__content
      .top-banner(ks-topbanner)
        .top-banner__close(ks-topbanner-close)
        %a.top-banner__link{href: '#'}
          .top-banner__content Только до 23 сентября! Акция! Бесплатная доставка от 500 рублей
      .b-page__content__inner.b-page__content__inner_navbar
        +include 'app/haml/shared/_navbar.haml'

      .b-page__content__inner.b-page__content__inner_slider
        %div{data: {react-class: 'ImageSlider', react-props: '{"slides":[{"image":{"url":"http://assets.kiiiosk.ru/uploads/shop/573/uploads/slider_image/image/437/870bdd63-eac0-4708-88f2-31587c221864.png","height":58,"width":1774},"url":"http://myfieldshop.com/pages/312-dostavka-oplata-garantiya"}],"hasThumbs":false,"className":"b-slider_promo"}'}}

      .b-page__content__inner.b-page__content__inner_content
        .lead-text
          .lead-text__content
            != '<p><i><b>Varvara</b> - бренд одежды и аксессуаров с русским акцентом. Varvara декларирует очень современный, а вместе с тем тонко чувствующий образ русской души.</i></p>'

        %section.b-item-list
          %h1.b-item-list__title Табуретки
          .b-item-list__content
            - for i in [1..6]
              .b-item-list__item
                %a.b-item{href: 'product.html'}
                  .b-item__pic-wrap
                    %img.b-item__pic{src: '../images/product-square.jpg', alt:'paste product name here'}
                    .b-item__status
                      -if i == 1
                        %span.b-status.b-status_sold Распродано
                      -if i == 2
                        %span.b-status.b-status_preorder Под заказ
                      -if i == 3
                        %span.b-status.b-status_sale Sale -24%
                  .b-item__info
                    %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .b-item__price 8 900 руб.
                    -if i == 3
                      .b-item__price.b-item__price_old 10 340 руб.

      .b-page__content__inner.b-page__content__inner_footer
        +include 'app/haml/shared/_footer.haml'

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
