@charset "UTF-8";


// =====================================================================
// Base
// =====================================================================

// Normalize
@import "base/normalize";

// Grid
@import "base/grid";


// =====================================================================
// Bower Components: Variables/Mixins and etc.
// =====================================================================

// Bootstrap variables/mixins
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// =====================================================================
// Global: Variables/Mixins and etc.
// =====================================================================

@import "global/variables";
@import "global/mixins";
@import "global/placeholders";
@import "global/helpers";


// =====================================================================
// Bower Components: Other
// =====================================================================

// Bootstrap components
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";

// jQuery.mmenu
@import "jQuery.mmenu/src/scss/jquery.mmenu.all";

// OwlCarousel
@import "OwlCarousel/owl-carousel/scss/carousel";
@import "OwlCarousel/owl-carousel/scss/theme";
@import "OwlCarousel/owl-carousel/scss/transitions";

// Entypo Plus
@import "entypo-plus/scss/entypo-plus";


// =====================================================================
// Vendors
// =====================================================================

@import "vendors/fancybox";
@import "vendors/range";

// Overrides
@import "vendors/overrides/owl.carousel";


// =====================================================================
// Fonts
// =====================================================================

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700italic,400italic,700|PT+Serif:400,700italic,400italic,700|Lora:400,700,400italic,700italic&subset=latin,cyrillic);

// Static
@import "fonts/gotham";
@import "fonts/apercu";
@import "fonts/flaticon";

// =====================================================================
// Partials
// =====================================================================

@import "partials/b-layout"; // Лейаут
@import "partials/b-btn"; // Кнопочки
@import "partials/b-alert"; // Алерты
@import "partials/b-logo"; // Логотип
@import "partials/b-site-description"; // Описание сайта
@import "partials/b-item-list"; // Список товаров
@import "partials/b-item"; // Товар в списке
@import "partials/b-item-full"; // Товар
@import "partials/b-status"; // Статус товара
@import "partials/b-instafeed"; // Фид с инстаграмма
@import "partials/b-admin"; // Кнопка админки
@import "partials/userbar"; // Кнопки пользователей
@import "partials/b-search"; // Поле поиска
@import "partials/b-cart-trigger"; // Кнопка корзины (триггер)
@import "partials/b-slider"; // Слайдер (прим. слайдер товаров)
@import "partials/b-characteristics"; // Характеристики товара
@import "partials/b-float-cart"; // Плавающая корзина
@import "partials/b-cart"; // Корзина
@import "partials/b-article"; // Статья
@import "partials/b-text"; // Текстовый блок
@import "partials/b-form"; // Форма
@import "partials/b-scroller"; // Скроллер
@import "partials/b-cbox"; // Чекбокс
@import "partials/b-radio"; // Радио
@import "partials/b-notice"; // Уведомления
@import "partials/b-full-filter"; // Фильтр
@import "partials/b-theme-switcher"; // Свитч для тем
@import "partials/b-feature-list"; // Фичиры, фичирлист
@import "partials/b-modification-list"; // Список модов
@import "partials/b-q-status"; // Статус количества товара
@import "partials/b-paginator"; // Пагинатор
@import "partials/b-show-more"; // Показать еще
@import "partials/b-breadcrumbs"; //Хлебные крошки
@import "partials/b-tooltip"; // Подсказка
@import "partials/mmenu";
@import "partials/add-to-wishlist";
@import "partials/bubble";
@import "partials/client-bar";
@import "partials/select-file"; // Кастомный выбор локального файла
@import "partials/radiobtn"; // Кастомные радио-кнопки
@import "partials/switcher"; // Переключалка в стиле iOS
@import "partials/color-picker"; // Палитра цветов
@import "partials/column-list"; // Колоночный список (например, список категорий на 404 странице)
@import "partials/design-settings"; // Настройщик дизайна
@import "partials/lead-text"; // Основной текстовый блок (на главной)
@import "partials/link"; // Ссылки
@import "partials/top-banner"; // Верхний информер-баннер
@import "partials/posts"; // Посты
@import "partials/postnav"; // Навигация между страницами (на странице поста)
@import "partials/w1widget"; // Виджет W1
@import "partials/b-product-properties"; // Форма выбора характеристик в карточке

// Global layout blocks
@import "partials/b-page"; // Основная страница
@import "partials/b-header"; // Шапка сайта
@import "partials/b-nav"; // Основная навигация по сайту
@import "partials/b-footer"; // Подвал сайта


// =====================================================================
// Themes
// =====================================================================

@import "themes/dark"; // Темная тема
@import "themes/wannabe"; // Вонаби тема
@import "themes/sugar"; // Сахар тема
@import "themes/etc"; // Etc тема
@import "themes/cc"; // cc тема


// =====================================================================
// Global: States
// =====================================================================

@import "global/states";